@import-normalize;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* lobby base (from boargame.io examples: https://github.com/nicolodavis/boardgame.io/blob/master/examples/react-web/src/lobby/lobby.css) */
#lobby-view {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.phase-title {
  margin-top: 40px;
}
.hidden {
  display: none;
}
.phase {
  border: none;
  outline: none;
}
#game-creation select {
  font-size: 14px;
  margin-right: 10px;
}
#game-creation span {
  margin-right: 10px;
}
#instances td {
  list-style: none;
  border: 0 solid #eee;
  border-top: none;
  height: 30px;
  line-height: 30px;
  text-align: left;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
}
#instances table {
  height: 100%;
  width: 500px;
  white-space: nowrap;
}
#instances button {
  font-size: 12px;
}
.error-msg {
  font-size: 12px;
  color: red;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}
.buttons button {
  margin-left: 10px;
  margin-top: 10px;
  width: 70px;
}

/* lobby overrides */
#lobby-view {
  padding: 0 !important;
}
