/**
 */
.board {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    "info         playerTop       .           "
    "playerLeft   playedCardsArea playerRight "
    "playerBottom playerBottom    playerBottom";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 250px auto;
}
.board > .player.top {
  grid-area: playerTop;
}
.board > .player.left {
  grid-area: playerLeft;
}
.board > .player.right {
  grid-area: playerRight;
}
.board > .player.bottom {
  grid-area: playerBottom;
}
.board > .playedCardsArea {
  grid-area: playedCardsArea;
}
.board > .info {
  grid-area: info;
}

/**
 */
.cardWrapper {
  position: relative;
  display: inline-block;
}
.card {
  font-size: 100px;
  display: inline-block;
}
.card.black {
  color: black;
}
.card.red {
  color: rgb(170, 0, 0);
}
.belotChooseButton {
  position: absolute;
  display: none;
  font-size: 30px;
  cursor: pointer;
}
.belotChooseButton.say {
  top: -10px;
  left: 0;
}
.belotChooseButton.dontSay {
  top: -10px;
  right: 0;
}
.cardWrapper.forbidden {
  cursor: not-allowed;
  opacity: .4;
}
.cardWrapper.playable {
  cursor: pointer;
}
.cardWrapper.playable:hover {
  transform: translateY(-5%);
}
.cardWrapper.playable:hover .belotChooseButton,
.cardWrapper.playable:focus .belotChooseButton,
.cardWrapper.playable:active .belotChooseButton {
  display: inline-block;
}

/**
 */
.myPlayer {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    "myPlayerTalks          myPlayerTalks myPlayerTalks  "
    "menu                   menu          menu           "
    "currentPlayerIndicator myCards       additionalCards";
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: 60px 30px 120px;
}
.myPlayer > .playerTalks {
  grid-area: myPlayerTalks;
}
.myPlayer > .menu {
  grid-area: menu;
}
.myPlayer > .currentPlayerIndicator {
  grid-area: currentPlayerIndicator;
}
.myPlayer > .myCards {
  grid-area: myCards;
}
.myPlayer > .additionalCards {
  grid-area: additionalCards;
}
.currentPlayerIndicator {
  position: relative;
}
.myPlayer.currentPlayer .currentPlayerIndicator::before {
  content: '\1f447';
  font-size: 40px;
  position: absolute;
  top: 10px;
  left: 10px;
  transform: rotate(-125deg);
}
.myPlayer.currentPlayer .currentPlayerIndicator::after {
  content: '\1f447';
  font-size: 40px;
  position: absolute;
  top: 50px;
  left: 10px;
  transform: rotate(-90deg);
}
.myCards {
  text-align: center;
}

/**
 */
.playerTalks {
  margin: 0 auto;
}
.playerTalks > * {
  position: relative;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  padding: 18px;
  background: rgba(230, 230, 230, 1);
  z-index: 20;
}
.playerTalks > *::after {
  content: '';
  position: absolute;
}
.myPlayer .playerTalks > *::after {
  bottom: 10px;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-bottom: 0;
  border-top-color: rgba(230, 230, 230, 1);
  margin-bottom: -20px;
  margin-left: -20px;
}
.otherPlayer .playerTalks > *::after {
  top: 10px;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top: 0;
  border-bottom-color: rgba(230, 230, 230, 1);
  margin-top: -20px;
  margin-left: -20px;
}

/**
 */
.otherPlayer {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    "otherPlayerCards additionalCards "
    "playerName       playerName      "
    "otherPlayerTalks otherPlayerTalks";
  grid-template-columns: 1fr 40px;
  grid-template-rows: 100px auto 1fr;
  overflow-x: hidden;
  overflow-y: auto;
}
.otherPlayer > .otherPlayerCards {
  grid-area: otherPlayerCards;
}
.otherPlayer > .additionalCards {
  grid-area: additionalCards;
}
.otherPlayer > .playerName {
  grid-area: playerName;
}
.otherPlayer > .playerTalks {
  grid-area: otherPlayerTalks;
}
.otherPlayerCards {
  position: relative;
  margin-top: -10px;
  margin-left: -30px;
  text-align: center;
}
.otherPlayerCards .card {
  font-size: 90px;
}
.otherPlayerCards .cardWrapper {
  position: absolute;
  background: white;
  transform-origin: bottom center;
}
.otherPlayerCards .cardWrapper:nth-child(1) {
  z-index: 8;
  transform: rotate(-27deg);
}
.otherPlayerCards .cardWrapper:nth-child(2) {
  z-index: 7;
  transform: rotate(-18deg);
}
.otherPlayerCards .cardWrapper:nth-child(3) {
  z-index: 6;
  transform: rotate(-9deg);
}
.otherPlayerCards .cardWrapper:nth-child(4) {
  z-index: 5;
  transform: rotate(0deg);
}
.otherPlayerCards .cardWrapper:nth-child(5) {
  z-index: 4;
  transform: rotate(9deg);
}
.otherPlayerCards .cardWrapper:nth-child(6) {
  z-index: 3;
  transform: rotate(18deg);
}
.otherPlayerCards .cardWrapper:nth-child(7) {
  z-index: 2;
  transform: rotate(27deg);
}
.otherPlayerCards .cardWrapper:nth-child(8) {
  z-index: 1;
  transform: rotate(36deg);
}
.otherPlayer.currentPlayer .otherPlayerCards::before {
  content: '\1f449';
  position: relative;
  top: 50%;
  left: -25px;
  font-size: 40px;
  z-index: 10;
}
.hiddenAdditionalCards {
  /* @TODO: don't need it if constraint by parent size */
  margin-left: -25px;
  transform: scale(.5);
}
.hiddenAdditionalCards .cardWrapper {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  z-index: 1;
}
.hiddenAdditionalCards .cardWrapper:nth-child(3) {
  z-index: 3;
  transform: rotate(36deg);
}
.hiddenAdditionalCards .cardWrapper:nth-child(4) {
  z-index: 4;
  transform: rotate(-36deg);
}
.hiddenAdditionalCards .cardWrapper:nth-child(7) {
  z-index: 7;
  transform: rotate(24deg);
}
.hiddenAdditionalCards .cardWrapper:nth-child(8) {
  z-index: 8;
  transform: rotate(-24deg);
}
.hiddenAdditionalCards .cardWrapper:nth-child(11) {
  z-index: 11;
  transform: rotate(12deg);
}
.hiddenAdditionalCards .cardWrapper:nth-child(12) {
  z-index: 12;
  transform: rotate(-12deg);
}

/**
 */
.menu {
  display: grid;
}
.sayAnnounce {
  display: grid;
  grid-template-columns: 75% 25%;
}
.sayAnnounce > * {
  font-size: 20px;
  background-color: rgba(110,220,250, .5);
  color: black;
  font-weight: bold;
}
.talk {
  display: flex;
  flex-wrap: wrap;
}
.talk > * {
  flex: 1 1 auto;
  font-size: 20px;
  font-weight: bold;
  color: black;
}
.talk > select {
  background-color: rgba(100, 100, 100, .1);
}
.talk > .sayCoincheButton {
  background-color: rgba(178,34,34, .8);
  color: white;
}
.talk > .saySkipButton {
  background-color: rgba(110,220,250, .5);
}
.talk button:disabled {
  cursor: not-allowed;
  opacity: .4;
}
.toggleIsDisplayedPreviousCardsPlayed {
  display: grid;
}
.toggleIsDisplayedPreviousCardsPlayed > * {
  font-size: 20px;
  width: 50%;
  margin: 0 auto;
  color: black;
  font-weight: bold;
}

/**
 */
.playerName {
  z-index: 10;
  font-size: 20px;
  text-align: center;
}

/**
 */
.playedCardsArea {
  margin: 0 auto;
}
.playedCards {
  display: grid;
  grid-gap: 7px;
  grid-template-areas:
    ".              playedCardTop    .               "
    "playedCardLeft .                playedCardRight "
    ".              playedCardBottom .               ";
  grid-template-columns: 60px 60px 60px;
  grid-template-rows: 60px 60px 60px;
}
.playedCards > .playedCard.top {
  grid-area: playedCardTop;
}
.playedCards > .playedCard.left {
  grid-area: playedCardLeft;
}
.playedCards > .playedCard.right {
  grid-area: playedCardRight;
}
.playedCards > .playedCard.bottom {
  grid-area: playedCardBottom;
}
.playedCard.left .cardWrapper {
  transform: rotate(90deg);
}
.playedCard.top .cardWrapper {
  transform: rotate(180deg);
}
.playedCard.right .cardWrapper {
  transform: rotate(270deg);
}

/**
 */
.info {
  font-size: 18px;
  overflow: auto;
}
.info .teamPoints {
  display: flex;
  justify-content: space-between;
  max-width: 250px;
}
.info .attackingPlayer {
  display: flex;
  justify-content: space-between;
  max-width: 250px;
}
.info .goal {
  display: flex;
  justify-content: space-between;
  max-width: 250px;
}
