/**
 */
.board {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    "info         playerTop       .           "
    "playerLeft   playedCardsArea playerRight "
    "menu         menu            menu        "
    "playerBottom playerBottom    playerBottom";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 200px 150px 200px;
}
.board > .player.top {
  grid-area: playerTop;
}
.board > .player.left {
  grid-area: playerLeft;
}
.board > .player.right {
  grid-area: playerRight;
}
.board > .player.bottom {
  grid-area: playerBottom;
}
.board > .menu {
  grid-area: menu;
}
.board > .playedCardsArea {
  grid-area: playedCardsArea;
}
.board > .info {
  grid-area: info;
}

/**
 */
.cardWrapper {
  position: relative;
  display: inline-block;
}
.card {
  font-size: 100px;
  display: inline-block;
}
.card.black {
  color: black;
}
.card.red {
  color: rgb(170, 0, 0);
}
.belotChooseButton {
  position: absolute;
  display: none;
  font-size: 30px;
  cursor: pointer;
}
.belotChooseButton.say {
  top: -10px;
  left: 0;
}
.belotChooseButton.dontSay {
  top: -10px;
  right: 0;
}
.cardWrapper.forbidden {
  cursor: not-allowed;
  opacity: .4;
}
.cardWrapper.playable {
  cursor: pointer;
}
.cardWrapper.playable:hover {
  transform: translateY(-5%);
}
.cardWrapper.playable:hover .belotChooseButton,
.cardWrapper.playable:focus .belotChooseButton,
.cardWrapper.playable:active .belotChooseButton {
  display: inline-block;
}

/**
 */
.myPlayer {
  position: relative;
}
.myPlayer.currentPlayer::before {
  content: '\1f446';
  font-size: 40px;
  position: absolute;
  top: -40px;
  left: calc(50% - 40px);
}
.myPlayer.currentPlayer::after {
  content: '\1f447';
  font-size: 40px;
  position: absolute;
  top: -40px;
  left: 50%;
}
.myCards {
  text-align: center;
}

/**
 */
.playerTalks {
  margin: 0 auto;
}
.playerTalks > * {
  position: relative;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  padding: 18px;
  background: rgba(230, 230, 230, 1);
  z-index: 20;
}
.playerTalks > *::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top: 0;
  border-bottom-color: rgba(230, 230, 230, 1);
  margin-top: -20px;
  margin-left: -20px;
}

/**
 */
.otherPlayer {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    "cards"
    "name"
    "talks";
  grid-template-columns: 1fr;
  grid-template-rows: 100px auto 1fr;
}
.otherPlayer > .otherPlayerCards {
  grid-area: cards;
}
.otherPlayer > .playerName {
  grid-area: name;
}
.otherPlayer > .playerTalks {
  grid-area: talks;
}
.otherPlayerCards {
  position: relative;
  margin-top: -20px;
  margin-left: -85px;
  text-align: center;
}
.otherPlayer .cardWrapper {
  position: absolute;
  background: white;
  transform-origin: bottom center;
}
.otherPlayer .cardWrapper:nth-child(1) {
  z-index: 8;
  transform: rotate(-27deg);
}
.otherPlayer .cardWrapper:nth-child(2) {
  z-index: 7;
  transform: rotate(-18deg);
}
.otherPlayer .cardWrapper:nth-child(3) {
  z-index: 6;
  transform: rotate(-9deg);
}
.otherPlayer .cardWrapper:nth-child(4) {
  z-index: 5;
  transform: rotate(0deg);
}
.otherPlayer .cardWrapper:nth-child(5) {
  z-index: 4;
  transform: rotate(9deg);
}
.otherPlayer .cardWrapper:nth-child(6) {
  z-index: 3;
  transform: rotate(18deg);
}
.otherPlayer .cardWrapper:nth-child(7) {
  z-index: 2;
  transform: rotate(27deg);
}
.otherPlayer .cardWrapper:nth-child(8) {
  z-index: 1;
  transform: rotate(36deg);
}
.otherPlayer.currentPlayer .otherPlayerCards::before {
  content: '\1f447';
  position: absolute;
  top: 0;
  left: 50%;
  font-size: 40px;
  z-index: 10;
}

/**
 */
.menu {
  display: grid;
  align-content: center;
}
.sayAnnounce {
  display: grid;
  grid-template-columns: 75% 25%;
}
.sayAnnounce > * {
  font-size: 20px;
  background-color: rgba(127,255,212, .5);
  color: black;
  font-weight: bold;
}
.talk {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
.talk > * {
  font-size: 20px;
  background-color: rgba(127,255,212, .5);
  color: black;
  font-weight: bold;
}
.talk > .saySkipButton {
  background-color: rgba(178,34,34, .8);
  color: white;
}
.toggleIsDisplayedPreviousCardsPlayed {
  display: grid;
}
.toggleIsDisplayedPreviousCardsPlayed > * {
  font-size: 20px;
  width: 50%;
  margin: 0 auto;
  color: black;
  font-weight: bold;
}

/**
 */
.playerName {
  z-index: 10;
  font-size: 20px;
  text-transform: capitalize;
  text-align: center;
}

/**
 */
.playedCardsArea {
  margin: 0 auto;
}
.playedCards {
  display: grid;
  grid-gap: 5px;
  grid-template-areas:
    ".              playedCardTop    .               "
    "playedCardLeft .                playedCardRight "
    ".              playedCardBottom .               ";
  grid-template-columns: 60px 60px 60px;
  grid-template-rows: 60px 60px 60px;
}
.playedCards > .playedCard.top {
  grid-area: playedCardTop;
}
.playedCards > .playedCard.left {
  grid-area: playedCardLeft;
}
.playedCards > .playedCard.right {
  grid-area: playedCardRight;
}
.playedCards > .playedCard.bottom {
  grid-area: playedCardBottom;
}
.playedCard.left .cardWrapper {
  transform: rotate(90deg);
}
.playedCard.top .cardWrapper {
  transform: rotate(180deg);
}
.playedCard.right .cardWrapper {
  transform: rotate(270deg);
}

/**
 */
.info {
  font-size: 18px;
}
