.board {
  position: relative;
  height: calc(100vh - 4px);
  width: calc(100vw - 4px);
  border: 2px solid black;
}

.playedCardsArea {
  position: absolute;
  z-index: 10;
  top: 20vh;
  bottom: 20vh;
  left: 20vw;
  right: 20vw;
  border: 2px solid blueviolet;
}

.player {
  position: absolute;
}
.player.bottom {
  bottom: 0;
  left: 0;
  right: 0;
}
.player.left {
  top: 0;
  left: 0;
  transform: scale(0.5) rotate(90deg) translateX(62vh) translateY(34vw);
}
.player.top {
  top: 0;
  left: 0;
  right: 0;
  transform: scale(0.5) rotate(180deg);
}
.player.right {
  top: 0;
  right: 0;
  transform: scale(0.5) rotate(270deg) translateX(-50vh) translateY(38vw);
}
