.bubble {
  position: relative;
  z-index: 20;
  border-radius: 50%;
  font-size: 5vh;
  text-align: center;
  margin: 0 auto 20px;
  padding: 20px;
}
.bubble:after {
  content: '';
  position: absolute;
  bottom: 1px;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-bottom: 0;
  margin-left: -20px;
}

.bubble.PlayerSaid {
  background: rgba(230, 230, 230, 1);
  max-width: 50%;
}
.bubble.PlayerSaid:after {
  border-top-color: rgba(230, 230, 230, 1);
  margin-bottom: -20px;
}

.bubble.PlayerTurnIndicator {
  background: rgba(30, 230, 30, 1);
  max-width: 10%;
}
.bubble.PlayerTurnIndicator:after {
  border-top-color: rgba(30, 230, 30, 1);
  margin-bottom: -10px;
}
