.menu {
  display: grid;
  border: 2px solid blue;

  align-content: center;
  background: rgba(0, 0, 0, 0.5);
}

.sayTake {
  display: grid;
  grid-template-columns: 40% 40% 20%;
}

.saySkip {
  display: grid;
}
