/**
 */
.lobby {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    "title           "
    "rooms           "
    "createRoomButton";
}
.lobby > .title {
  grid-area: title;
}
.lobby > .rooms {
  grid-area: rooms;
}
.lobby > .addRoomButton {
  grid-area: addRoomButton;
}

/**
 */
.lobby .room {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    "topLeftSeat    .      topRightSeat   "
    "withLeft       VSorGO withRight      "
    "bottomLeftSeat .      bottomRightSeat";
  grid-template-columns: 1fr 200px 1fr;
  grid-template-rows: auto 48px auto;
  text-align: center;
  margin: 30px;
  padding: 10px 0;
  border: 1px solid black;
}
.lobby .room > .topLeftSeat {
  grid-area: topLeftSeat;
}
.lobby .room > .topRightSeat {
  grid-area: topRightSeat;
}
.lobby .room > .bottomLeftSeat {
  grid-area: bottomLeftSeat;
}
.lobby .room > .bottomRightSeat {
  grid-area: bottomRightSeat;
}
.lobby .room > .versus,
.lobby .room > .goButtonWrapper {
  grid-area: VSorGO;
}
.lobby .room > .teamWith.left {
  grid-area: withLeft;
}
.lobby .room > .teamWith.right {
  grid-area: withRight;
}

/**
 */
.lobby .versus,
.lobby .goButtonWrapper,
.lobby .teamWith {
  font-size: 40px;
}
.lobby .versus {
  font-style: italic;
}
.lobby .versus::before {
  content: '/';
  position: relative;
  top: 100%;
  left: 12px;
}
.lobby .versus::after {
  content: '/';
  position: relative;
  top: -100%;
  left: -8px;
}
.lobby .goButtonWrapper {
  margin: 0 auto;
}
.lobby .goButtonWrapper::before {
  content: '👆';
  position: relative;
  top: 120%;
  left: 40%;
}
.lobby .goButtonWrapper::after {
  content: '👇';
  position: relative;
  top: -120%;
  left: -40%;
}
.lobby .goButton {
  padding: 5px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: rgba(230, 230, 230, .5);
  cursor: pointer;
}
.lobby .goButton:hover {
  padding: 10px;
  margin: -5px;
  background-color: rgba(230, 230, 230, 1);
}

/**
 */
.lobby .seat {
  display: grid;
  grid-gap: 5px;
}
.lobby .topLeftSeat .seat,
.lobby .topRightSeat .seat {
  grid-template-areas:
    "roomButton"
    "playerName";
  grid-template-rows: 20px auto;
}
.lobby .bottomLeftSeat .seat,
.lobby .bottomRightSeat .seat {
  grid-template-areas:
    "playerName"
    "roomButton";
  grid-template-rows: auto 20px;
}
.lobby .seat > .playerName {
  grid-area: playerName;
}
.lobby .seat > .roomButton {
  grid-area: roomButton;
}

/**
 */
.lobby .playerName {
  font-weight: bold;
}
.lobby .mySeat .playerName {
  text-decoration: underline;
}
.lobby .roomButton > button {
  cursor: pointer;
}
.lobby .roomButton > button:disabled {
  cursor: not-allowed;
}

/**
 */
.lobby .noRoom {
  margin-bottom: 30px;
  text-align: center;
}

/**
 */
.lobby .createRoomButton {
  margin: 0 auto 30px;
  font-size: 16px;
  cursor: pointer;
}
