/**
 */
.login {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    "title           "
    "rooms           "
    "createRoomButton";
}
.login > .title {
  grid-area: title;
}
.login > .form {
  grid-area: form;
}
